<div class='fixed'>
  <nav class='top-bar'>
    <ul>
      <li class='name'><h1><a href='/' target=_blank><%= ENV['WEBSITE_NAME'] %></a></h1></li>
      <li class='toggle-topbar'><a href="#"></a></li>
    </ul>
    <section>
      <ul class='left' id='main_menu'>
      </ul>

      <ul class='right'>
        <li><a href=''>Logout</a></li>
      </ul>
    </section>
  </nav>
</div>

<div id='app'></div>