<% content_for :title do %><%= @post.title + " - " + ENV['WEBSITE_NAME'] %><% end %>

<article class='chr-post'>
  <header>
    <h1><%= @post.title %></h1>
  </header>
  
  <%= @post.html.html_safe %>
</article>
